@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.container {
    padding: calc(8px + 1.5625vw) calc(100px + 3.125vw);
}

div {
    padding: calc(8px + 1.5625vw) calc(16px + 3.125vw);
}


h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.container p {
line-height: 1.8;
font-size: 18px;
padding:20px 10em 0px 10em;
font-family: "Georgia", serif;
text-align: left;
}

#section1{
    min-height: 100vh;
    background-color: white;
}

#section2{
    min-height: 100vh;
    background-color: white;
}

#section3{
    min-height: 100vh;
    background-color: white;
}

#section5{
    min-height: 100vh;
    background-color: white;
}

/* for explore button  */

.containerButton { 
    position: relative;
  }

.buttonCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
}
.button-01 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-01:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-01:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-01:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* for picture container  */

.picContainer {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    background-color: #FCFCFD;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 20px 30px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
  }
  
  .picContainer:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  }
  
  .picContainer:hover .border {
    transform: translateY(4px) rotate(-5deg);
  }
  
  .border {
    position: absolute;
    transition: all 0.13s ease-in;
  }
  
  .border:before,
  .border:after {
    color: #515d9c;
    font-size: 15px;
    position: absolute;
  }
  
  .tl {
    position: absolute;
    left: -50px;
    top: -63px;
    font-weight: 600;
  }
  
  .tl:before {
    content: "37px";
    left: 120px;
    top: 30px;
  }
  
  .tl:after {
    content: "140px";
    left: 0px;
    top: 80px;
  }
  
  .tr {
    right: -50px;
    top: -63px;
    font-weight: 600;
  }
  
  .tr:before {
    content: "23px";
    left: 0;
    top: 30px;
  }
  
  .tr:after {
    content: "130px";
    left: 130px;
    top: 80px;
  }
  
  .bl {
    left: -50px;
    bottom: -71px;
    font-weight: 600;
  }
  
  .bl:before {
    content: "110px";
    left: 120px;
    top: -30px;
  }
  
  .bl:after {
    content: "19px";
    left: 0px;
    top: -90px;
  }
  
  .br {
    right: -50px;
    bottom: -63px;
    font-weight: 600;
  }
  
  .br:before {
    content: "120px";
    left: 0;
    top: -30px;
  }
  
  .br:after {
    content: "24px";
    right: -10px;
    top: -80px;
  }
  

/* for chart container  */


  
  .chart-container-1 {
    height: 60vh;
    flex: auto auto;
    width: 50%;
  }
  
  .chart-container-2 {
    height: 60vh;
    flex: auto auto;
    width: 50%;
  }
  
  
  
  .main-container {
    display: flex;
    justify-content: space-between;
  }
  
  .main-container > div {
      padding: 0px 10px;
  }
